#main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#logo{
    display: flex;
    justify-content: center;
    align-content: center;
}

.prieview{
    display: flex;
    justify-content: space-evenly;
    
}
/* .prieview img{
    height: 50%;
}
#prieview1:hover{
    filter: opacity(0.9);
}

#prieview3:hover{
    filter: opacity(0.9);
}


#prieview2:hover{
    filter: opacity(0.9);
} */

#dsg1{
    width: 60%;
}

#dsg2{
    width: 60%;
}

#dsg3{
    width: 60%;
}

#dsg4{
    width: 60%;
}
.colu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}