#logo{
    display: flex;
    justify-content: center;
    align-content: center;
}

.prieview{
    display: flex;
    justify-content: space-evenly;
    
}
.prieview img{
    height: 50%;
}
#prieview1:hover{
    filter: opacity(0.9);
}

#prieview3:hover{
    filter: opacity(0.9);
}


#prieview2:hover{
    filter: opacity(0.9);
}