#logo{
    display: flex;
    justify-content: center;
    align-content: center;
}

.prieview{
    display: flex;
    justify-content: space-evenly;
}

#prieview1:hover{
    filter: opacity(0.9);
}

.prieview1{
    visibility: hidden;
}

.prieview1:hover{
    visibility: visible;
    z-index: 10;
}

.prieview1 {
    display: none;
}
    
#prieviww1:hover + .prieview1 {
    display: block;
}